extends ../templates/page
include ../molecules/description_banner
include ../atoms/button
include ../atoms/push_button
include ../atoms/form/fields/short_text

block append head
    link(rel="stylesheet" href="/assets/css/releases/password_managing.min.css")
    script(type="text/javascript").
        window.env.has_token = #{!!token};
        window.env.token = "#{token}";

block append body
    include ../molecules/header
    +description-banner
        h1.title Réinitialisation du mot de passe
        if !token
            p Veuillez renseigner votre email ou nom d'utilisateur pour faire une demande de réinitialisation
        else
            p Veuillez définir votre nouveau mot de passe
    .v-block.only(class=(!token ? "request":"update"))
        .page-inner
            if !!token
                .block.identity
                    .field
                        .label.email Email:
                        .value= payload.email
                    .field
                        .label.identifier Identifiant:
                        .value= payload.identifier
            .form.page-form
                form
                    if !token
                        +short-text(type="text" name="_email_or_identifier" placeholder="Veuillez entrer votre identifiant ou email").bordered.grey
                    else
                        +short-text(type="password" name="_password" placeholder="Entrez le nouveau mot de passe").bordered.grey
                        +short-text(type="password" name="_password_repeat" placeholder="Répétez le nouveau mot de passe").bordered.grey
                .action
                    +push-button.filled.primary.submitter
                        span Envoyer
            if !token
                .cancel-action
                    +button.canceller(href=`/${lang}/user/login`).filled.grey
                        span.icofont-arrow-left.prefix
                        span Annuler
            .layer.indication
                .inner
                    if !token
                        p Veuillez consulter votre boite mail pour accéder au lien de réinitialisation
                        .action
                            +push-button.filled.primary.replay Renvoyer l'email
                    else
                        p Votre mot de passe a été modifié avec succès
                        .action
                            +button(href=`/${lang}/user/login`).filled.primary Se connecter

    include ../molecules/footer

block append scripts
    script(type="text/javascript" src="/assets/js/releases/password_managing.min.js")